
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'font-pretendard';
    src: url('../../public/fonts/PretendardVariable.woff2');
}

@font-face {
    font-family: 'suit-variable';
    src: url('../../public/fonts/SUIT-Variable.woff2');
}


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styles/globals.css */
.letter-animation {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

